<h2>Üzenet a csucsvaku.hu oldalról</h2>
<br>
<h3>Kedves {{ messageData.name }}!</h3>
<br>
<p>Az alábbi üzenetet küldted a csucsvaku.hu oldalról: {{ messageData.message }} </p>
<br>
<p>A megadott elérhetőségeken hamarosan jelentkezünk:</p>
<p> - email: {{ messageData.email }}</p>
<p> - telefon: {{ messageData.phone }}</p>
<br>
<p>Köszönjük a megkeresést!</p>
<br>
<p>Üdvözlettel,</p>
<p>csucsvaku.hu csapata</p>